<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SEBANK</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/main.css">
        <script src="/js/func.js"></script>
		<link rel="stylesheet" href="/css/table.css">
        <script src="/js/table.js"></script>
		<link rel="stylesheet" href="/css/transactions.css">
		<link rel="stylesheet" href="/css/page_setup.css">
		<link rel="stylesheet" href="/css/function_buttons.css">
        <!-- Linking Google Font Link for Icon -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	</head>
	<body>
		<div class="container">
			<!--Có thể làm các phần tĩnh thành file riêng cho gọn-->
			<aside class="sidebar">
				<img src="/images/SEBank.png" alt="logo-hover" class="sidebar-img-default" />
				<img src="/images/Logo.png" alt="logo-hover" class="sidebar-img-hover" />
				<ul class="sidebar-links">
					<li data-content="Dashboard" >
						<a href="/#">
							<span class="material-icons" style="font-size: 35px">
								home
							</span> Trang chủ
						</a>
					</li>
					<li data-content="Manage" class="active">
						<a href="/quan_ly_so#">
							<span class="material-icons" style="font-size: 35px">
								manage_search
							</span>Quản lý sổ
						</a>
					</li>
					<li>
						<a href="/bao_cao_ngay#">
							<span class="material-icons" style="font-size: 35px">
								description
							</span> Báo cáo
						</a>
					</li>
					<li>
						<a href="/mat_khau#">
							<span class="material-icons" style="font-size: 35px">
								settings
							</span> Cài đặt
						</a>
					</li>
				</ul>
			</aside>
	
			<div class = "main main--setup">
				<!-- Quản lý sổ -->
				<div class="content content--setup" id="Manage">
					<div class="table__header">
						<div>
							<div class="topbar topbar--set-padding">
							Quản lý sổ
							</div>
							<p class="date"><%= currentDate %></p>
						</div>
						<div class="input-group">
							<div class="search-icon"> <%- include('../public/images/search_icon.svg') %> </div>
							<input class="search-content" type="search" placeholder="Search Data...">
						</div>
					</div>
				
					<div class="content-group">
						<section class="table__body table--no-margin">
							<table>
								<thead>
									<tr>
										<th class="table__column--No"> STT </th>
										<th class="table__column--Book-ID"> Mã sổ <span class="icon-arrow">&UpArrow;</span></th>
										<th class="table__column--Customer-Name"> Khách hàng <span class="icon-arrow">&UpArrow;</span></th>
										<th class="table__column--Customer-ID"> CMND <span class="icon-arrow">&UpArrow;</span></th>
										<th class="table__column--Term-type"> Loại tiết kiệm <span class="icon-arrow">&UpArrow;</span></th>
										<th class="empty-column"></th>
										<th> Số dư (VNĐ) <span class="icon-arrow">&UpArrow;</span></th>
									</tr>
								</thead>
								<tbody>
									<% for (let i = 0; i < listBooks.length; i++) { %>
										<tr>
											<td><%=i+1%></td>
											<td><%= listBooks[i].MASO %></td>
											<td><%= listBooks[i].HOTEN %></td>
											<td><%= listBooks[i].CMND %></td>
											<% if (listBooks[i].LOAI == 0) { %>
												<td>
												<p class="status delivered">Không kỳ hạn</p>
												</td>
											<% } else if (listBooks[i].LOAI == 3) { %>
												<td>
													<p class="status pending">Kỳ hạn 3 tháng</p>
												</td>
											<% } else if (listBooks[i].LOAI == 6) { %>
												<td>
													<p class="status shipped">Kỳ hạn 6 tháng</p>
												</td>
											<% } else { %>
												<td>
												<p class="status cancelled">Kỳ hạn <%=listBooks[i].LOAI%> tháng</p>
												</td>
											<% } %>
											<td></td>
											<td><%= listBooks[i].SODU.toLocaleString('de-DE') %></td>
		
										</tr>
									<% } %>
								</tbody>
							</table>
						</section>
	
						<div class="button-group">
							<button id="new-book" class="function-btn" onclick="window.location.href='/taoso_form'">
								<%- include('../public/images/card-add.svg') %>
								<label for="new-book" class="function-label">Tạo sổ mới</label>
							</button>
	
							<button id="deposit" class="function-btn" onclick="window.location.href='/guitien_form'">
								<%- include('../public/images/money-recive.svg') %>
								<label for="deposit" class="function-label">Gửi thêm tiền</label>
							</button>			
	
							<button id="withdraw" class="function-btn" onclick="window.location.href='/ruttien_form'">
								<%- include('../public/images/money-send.svg') %>
								<label for="withdraw" class="function-label">Rút tiền</label>
							</button>				
						</div>
					</div>
				</div>
			</div>
			<script src="date.js"></script>
			<script>
				const currentDayDashboard = document.getElementById('Dashboard-date');
				const currentDayManage = document.getElementById('Manage-date');
				currentDayDashboard.textContent = getCurrentDate();
				currentDayManage.textContent = getCurrentDate();
			</script>
	</body>
</html>